
<%= render './shared/banner' %> <br>

<tbody>

  <div class="container">

    <div class="row align-items-start">
      <div class="col-6">
           <% @flats.each do |flat| %>
            <div class="card-product">
                <div class="card-product-infos">
                <td><h2> <%= flat.name %></h2></td>
                <td><%= flat.address %></td> <br>
                <%= link_to 'Voir', flat, class: 'btn btn-primary btn-sm m-1' %>
                <%= link_to 'Editer', edit_flat_path(flat), class: 'btn btn-primary btn-sm m-1' %>
                <%= link_to 'Effacer', flat, method: :delete, data: { confirm: 'Are you sure?'} , class: 'btn btn-primary btn-sm m-1'%> <br>
              </div>
            </div>
           <% end %> <br>
      </div>



      <div class="col-6">
        <div
        id="map"
        style="width: 600px;
        height: 800px;
        float"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>


  </tbody>
    <%= render './shared/footer' %>
